
@import '../../../styles/animations.scss';

.game-card {
    min-width: 30%;
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin: 1rem;
}

.game-card--selected{
    border:8px solid white;
    background-color: #FF1493;
    animation-name: pulse;
    animation-duration: .5s;
    color: white;
}