
@import './global/styles/buttons.scss';
@import './global/styles/variables.scss';
@import './global/styles/forms.scss';
@import './global/styles/fonts.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  width: 100vw;
  font-family: 'Lilita One';
  font-size: 16px;
  
}

::backdrop
{
    background: linear-gradient(to bottom, $primaryColor 0%,$secondaryColor 100%);
}

html {
  width: 100%;
  position: absolute;
  min-height: 100vh;
  background: linear-gradient(to bottom, $primaryColor 0%,$secondaryColor 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-section {
  padding: 1rem;
  margin: .75rem;
  width: 100%;
}

//supposed to remove zoom on touch 
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}


ul, li {
  padding: 0;
  margin: 0;
}


a{
  color: white;
  text-decoration: none;
}

a:hover, a.active{
  border-bottom: 1px solid white;
}

a.active{
  color: #00C9A7;
  }

  button {
    font-family: 'Lilita One';
    outline: 0;
  }

form{
  margin: 0;
  padding: 0;
  width: inherit;
}

.main-content-wrapper{
  display: flex;
  justify-content: center;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
}

.flex-justify-center{
  justify-content: center;
}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-content {
    width: 80%;
  }

  .page-section {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main-content {
    width: 50%;
  }
}
